$font-stack: Silkscreen;

.header {
    display: flex;
    position: absolute;
    background-color: transparent;
    color: white;
    margin-left: 20px;
}
h1 {
    justify-content: center;
    text-align: center;
    font-family: $font-stack;
}
